<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>User Centre</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />
</head>
<link href="/mystylesheet.css" th:href="@{css/modalpopup.css}"
	rel="stylesheet" type="text/css">
<link href="/mycss.css" th:href="@{css/typewriter-effect.css}"
	rel="stylesheet" type="text/css" />

<head th:replace="fragments/header :: headHeader">
</head>

<body>
	<div th:replace="fragments/header :: navForViewer"></div>
	<div>
		<form>
			<div class="container">
				<h1>Profile ~ Username</h1>

				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">First</th>
							<th scope="col">Last</th>
							<th scope="col">Handle</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>
							<a href="hi">@twitter</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
</body>

</script>
</html>