<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>User Centre</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />
</head>
<link href="/mystylesheet.css" th:href="@{css/modalpopup.css}"
	rel="stylesheet" type="text/css">
<link href="/mycss.css" th:href="@{css/typewriter-effect.css}"
	rel="stylesheet" type="text/css" />

<head th:replace="fragments/header :: headHeader">
</head>

<body>
	<div th:replace="fragments/header :: navForViewer"></div>
	<div>
		<form>
			<div class="container">
				<h1>Profile ~ Username</h1>
				<table class="table">
					<!-- 	<span> <a th:text="${skillDataList[0].id}"
						th:href="@{/discuss/{id}(id = ${skillDataList[0]})}"></a>
					</span> -->
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">ID</th>
							<th scope="col">Username</th>
							<th scope="col">Skill category</th>
							<th scope="col">Skill name</th>
							<th scope="col">Current level</th>
							<th scope="col">Certification File</th>
						</tr>
					</thead>



					<tbody th:each="skillDataList,iter : ${skillDataList}">
						<tr>
							<th th:text="${iter.index}+1" scope="row">1</th>
							<td th:text="${skillDataList.id}"></td>
							<td th:text="${skillDataList.username}"></td>
							<td th:text="${skillDataList.skillCategory}"></td>
							<td th:text="${skillDataList.skillName}"></td>
							<td th:text="${skillDataList.currentLevel}"></td>


							<td><span
								th:switch="${skillDataList.certificationFileUploadedFlag}">
									<i th:case="true"> <a th:href="@{/user-centre/user-profile/download-file/{id}(id=${skillDataList.id})}">Click
											to download</a>
								</i> <i th:case="false">file unavailable</i>
							</span> <span th:text="${skillDataList.id}"> </span> <a
								href=></a></td>
							 


							<!-- <td th:text="${skillDataList[0].skillName}">Mark</td> -->

							<!-- <td th:text="${skillDataList[0].}">Mark</td>   -->

							<!-- <td>@mdo</td> -->
						</tr>

					</tbody>
				</table>
			</div>

		</form>
	</div>
</body>

</html>