<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>User Centre</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />
</head>
<link href="/mystylesheet.css" th:href="@{css/modalpopup.css}"
	rel="stylesheet" type="text/css">
<link href="/mycss.css" th:href="@{css/typewriter-effect.css}"
	rel="stylesheet" type="text/css" />

<head th:replace="fragments/header :: headHeader">
</head>

<body>
	<div th:replace="fragments/header :: navForViewer"></div>
	<div>
		<form>
			<div class="container">
				<h1>Profile ~ User name</h1>
				<table class="table">
					<!-- 	<span> <a th:text="${skillDataList[0].id}"
						th:href="@{/discuss/{id}(id = ${skillDataList[0]})}"></a>
					</span> -->
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">ID</th>
							<th scope="col">User name</th>
							<th scope="col">Skill category</th>
							<th scope="col">Skill name</th>
							<th scope="col">Current level</th>
							<th scope="col">Certification File</th>
						</tr>
					</thead>



					<tbody th:each="skillDataList,iter : ${skillDataList}">
						<tr>
							<th th:text="${iter.index}+1" scope="row">1</th>
							<td th:text="${skillDataList.id}"></td>
							<td th:text="${skillDataList.username}"></td>
							<td th:text="${skillDataList.skillCategory}"></td>
							<td th:text="${skillDataList.skillName}"></td>
							<td th:text="${skillDataList.currentLevel}"></td>


							<td><span
								th:switch="${skillDataList.certificationFileUploadedFlag}">
									<i th:case="true"> <input class="btn btn-link"
										type="button"
										th:onClick=downloadFile([[${skillDataList.theCertificationFiles.id}]])
										data-toggle="modal" data-target="#exampleModalCenter"
										value="Click to download" /> <!-- 											th:href="@{/user-centre/user-profile/download-file/{id}(id=${skillDataList.id})}"
 -->
								</i> &nbsp;&nbsp;&nbsp;<i th:case="false">File unavailable</i>
							</span></td>
<!-- 							<td><input type="submit" class="btn btn-link" value="edit" th:onClick=editSkill([[${skillDataList.id}]])/></td>
 -->
 
 							<td><a href="user-centre/edit-skill" class="btn btn-link">Edit skill</a></td>
 
						</tr>

					</tbody>
				</table>
			</div>

		</form>
	</div>
	<div th:replace="fragments/header :: modalstructure"></div>
</body>

<script>
	function downloadFile(fileId) {

		$.ajax({
			type : "POST",
			contentType : "application/json; charset=UTF-8",
			url : "user-centre/download-file",
			data : JSON.stringify(fileId),
			dataType : 'text',

		})
		
		function editSkill(skillId){
			$.ajax({
				type : "POST",
				contentType : "application/json; charset=UTF-8",
				url : "user-centre/edit-skill",
				data : JSON.stringify(skillId),
				dataType : 'text',
			})
		}

		var modal = document.getElementById("exampleModalCenter");
		modal.style.display = "block";

		document.getElementById("modalbody").innerText = "Certificate downoaded to your Downloads folder";
		document.getElementById("modalheader").innerText = "Success";

		var span = document.getElementsByClassName("close")[0];

		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
			modal.style.display = "none";
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	}
</script>
</html>